/* -- [ CSFI ] -- */
@import url("//cdn.cengage.com/libs/font-awesome/4.0.3/css/font-awesome.min.css");
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,600,700);
body :before, 
body :after {
  display: inline-block;
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
  font-family: FontAwesome;
  font-weight: normal;
  webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }

/* -- ENDECA -- */

.endeca-slot { display: block; }

/* -- ------------------- --------------- */
/* -- Basic layout styles --------------- */
/* -- ------------------- --------------- */

html body { 
  background-color: #FFF;
  min-height: 100%; 
  margin: 0 auto;
  width: 100%;
  position: relative;
  -webkit-text-size-adjust: 100%;
  webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

html body, button {
  color: #333;
  font: 400 14px/1 'Open Sans', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

button { 
  border: 0;
  cursor: pointer;
}

input::-moz-focus-inner,
button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

a, :before, :after {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1, h2, h3 { font-weight: 600; }

h1 {  
  line-height: 24px;
  font-size: 18px; 
}

a, a:visited {
  color: #0071A2;
  cursor:pointer;
  text-decoration: none;
}

a:hover, a:focus { text-decoration: underline; }

strong, b { font-weight: 600; } 

p { line-height: 22px; }

ul li { line-height: 22px; }

ul.bullet-list { 
  list-style-type: disc;
  padding: 4px 0 0 20px;
}

ul.bullet-list li { 
  display: list-item;
}

hr.faded-divider {
  background-image: -webkit-linear-gradient(left,rgba(204,204,204,.1),rgba(204,204,204,.8),rgba(204,204,204,.9),rgba(204,204,204,1),rgba(204,204,204,.9),rgba(204,204,204,.8),rgba(204,204,204,.1));
     background-image: -moz-linear-gradient(left,rgba(204,204,204,.1),rgba(204,204,204,.8),rgba(204,204,204,.9),rgba(204,204,204,1),rgba(204,204,204,.9),rgba(204,204,204,.8),rgba(204,204,204,.1));
      background-image: -ms-linear-gradient(left,rgba(204,204,204,.1),rgba(204,204,204,.8),rgba(204,204,204,.9),rgba(204,204,204,1),rgba(204,204,204,.9),rgba(204,204,204,.8),rgba(204,204,204,.1));
       background-image: -o-linear-gradient(left,rgba(204,204,204,.1),rgba(204,204,204,.8),rgba(204,204,204,.9),rgba(204,204,204,1),rgba(204,204,204,.9),rgba(204,204,204,.8),rgba(204,204,204,.1));
  border: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
  height: 1px;
  margin: 10px 0 10px 0;
  width: 100%;
}

.ie8 hr.faded-divider {
  background: url('//cdn.cengage.com/images/apps/search/hr-faded.jpg');
  height: 12px; 
}

.double-arrow-right { }

.double-arrow-right:after {
  content: "\f101";
  margin-left: 4px;
  -webkit-transition: .15s ease-in-out;
     -moz-transition: .15s ease-in-out;
      -ms-transition: .15s ease-in-out;
       -o-transition: .15s ease-in-out;
          transition: .15s ease-in-out;
}

.double-arrow-right:hover:after { padding-left: 2px; }

/* -- ------------- -- */
/* -- [ Container ] -- */
/* -- ------------- -- */ 

.container {
  height: auto;
  position: relative;
  margin: 0 auto;
  max-width: 1180px;
  max-width: 975px;
  z-index: 1;
}

@media (max-width: 1200px) { .container { padding: 0 20px; } }

/* -- --------------------- -- */
/* -- [ COLLAPSE FUNCTION ] -- */
/* -- --------------------- -- */ 

body .container .collapse {
  height: 0;
  overflow: hidden;
  position: relative;
}

.ie8 .container .collapse { height: auto; }

body .container .collapsing { 
  overflow: hidden; 
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

body .collapse.in { height: auto; }

/* -- ---------- -- */
/* -- [ Header ] -- */
/* -- ---------- -- */

.csfi .header-container h1.title a { width: 367px; }

.csfi .header-container h1.title span {
  background: url("/sandbox/travis/marketing/images/CSFI-Header-Logo.png") left center no-repeat !important;
}

@media (max-width: 480px) {
  html body { margin-top: 54px !important; }

  .csfi .header-container h1.title a { 
    padding-left: 10px;
    width: 310px;  
  }

  .csfi .header-container h1.title span {
    background-size: 310px auto !important;
    background-position: 5px center;
  }
}

/* -- [ Nav Bar ] -- */

.csfi a.header-btn {
  border: 1px solid #C2C2C2;
  background: #f16c53; /* Old browsers */
  background: -moz-linear-gradient(top,  #f16c53 0%, #c1151a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f16c53), color-stop(100%,#c1151a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f16c53 0%,#c1151a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f16c53 0%,#c1151a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f16c53 0%,#c1151a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f16c53 0%,#c1151a 100%); /* W3C */
  color: #FFF !important;
  font-size: 14px;
  text-align: center;
  height: 31px;
  line-height: 31px;
  width: 85px !important;
}

.csfi a.header-btn:hover {
  background: #db4438; /* Old browsers */
  background: -moz-linear-gradient(top,  #db4438 0%, #c1151a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db4438), color-stop(100%,#c1151a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #db4438 0%,#c1151a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #db4438 0%,#c1151a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #db4438 0%,#c1151a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #db4438 0%,#c1151a 100%); /* W3C */
  text-decoration: none;
}

@media (max-width: 768px) { 

  .csfi a.header-btn {
    background: #db4438;
    display: block;
    width: 100% !important;
    height: 44px;
    line-height: 44px;
    text-align: left;
    border: 0;
    border-bottom: 1px solid #ccc;
    text-indent: 9px;
  }

  .csfi a.header-btn:hover { background: #c1151a; }

  button.home-btn { 
    color: #333;
    right: 35px; 
  }

  button.home-btn:before {
    font-size: 26px;
    content: "\f015";
  }

}

.csfi ul#nav-bar-links {
  float: none;
  position: initial;
}

ul#nav-bar-links li button {
  font-weight: 600;
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
  padding: 0 9px;
  text-decoration: none;
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
      -ms-transition: all .15s ease-in-out;
       -o-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
}

ul#nav-bar-links li button:hover  { 
  background: #C5BEA5;
  color: #9C1116
}

#nav-bar-links button[data-target="#home"],
#nav-bar-links button[data-target="#home"]:hover { 
  color: transparent !important;
  position: relative;
  width: 44px;
}

#nav-bar-links button[data-target="#home"]:after { 
  content: "\f015";
  color: #333;
  font-size: 28px;
  position: absolute;
  left: 9px;
  top: 0;
}

#nav-bar-links button[data-target="#home"]:hover:after { color: #9C1116; }

@media (min-width: 769px)  { 
  .csfi a.header-btn { 
    position: absolute;
    top: -50px;
  } 
  #demo-btn { right: 100px; }
}

@media (max-width: 768px)  {  
  
  ul#nav-bar-links li:first-child { display: none; }

  ul#nav-bar-links li {
    height: auto !important;
  }

  ul#nav-bar-links li button {
    background-color: #DDDCCA;
    text-align: left;
    height: 100%;
    width: 100%;
  }

}


/* -- -------------------------------- -- */
/* -- [ Product Info Panels All Size ] -- */
/* -- -------------------------------- -- */

.panels { clear: both; }

.panel .double-arrow-right:after { 
  font-size: 18px;
  vertical-align: -1px;
}

.panels .panel { 
  border-top: 1px solid #CCC;
  webkit-box-shadow: inset 0 5px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 5px 10px 0 rgba(0,0,0,.1);
         box-shadow: inset 0 5px 10px 0 rgba(0,0,0,.1);
  padding: 25px 0 60px;
  position: relative;
}

.panels .panel .content-wrapper { 
  padding: 0 6.75%;
  margin: 0 auto;
  position: relative;
}

.panels .panel h1 { 
  color: #ad1d0a;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 17px 0 47px 0;
}

.panels .panel h2 { 
  font-size: 18px;
  margin: 16px 0 28px;
}

.panels .panel h3 { 
  font-weight: 700;
  line-height: 22px; 
  margin-top: 22px 0 4px;
}

.panels .panel p { margin-bottom: 10px; }

.panels .panel p,
.panels .panel li {
  font-size: 14px;
  line-height: 22px;
}

.panels .panel a { line-height: 22px; }

/* --- [ SECTIONS ] --- */

/* --- [ Intro ] --- */

#home { text-align: center; }

#home .container {  
  max-width: 640px;
  margin: 0 auto !important;
  padding: 47px 20px 0;
}

@media (max-width: 768px) { #home .container { padding: 20px 20px 0; }  }
@media (max-width: 408px) { #home .container { padding: 10px 20px 0; }  }

#home .container object { left: 0; }

#home h1 { margin: 30px 0 8px; }

#home p {
  font-size: 18px;
  line-height: 27px;
}

#home .video-container {
  width: auto;
  max-width: 640px;
}

#home  p.video-caption { 
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-align: left;
}

/* --- [ 10 Factors ] --- */

#ten-factors { 
  background-color: #F0F0E6; 
  z-index: 2;
}

#ten-factors h1 { margin-bottom: 8px; }

#ten-factors h2 {
  font-size: 20px;
  line-height: 27px;
  margin: 8px 0 19px;
}

#ten-factors p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 4px;
}

#ten-factors ul.resource { 
  margin: 0 0 57px 6.5%;
  list-style-type: disc;
}

#ten-factors ul.resource li {
  font-size: 18px;
  line-height: 36px;
}

ul.factors { 
  margin: 53px auto 0;
  max-width: 922px;
  text-align: center;
}

ul.factors li { 
  display: inline-block;
  position: relative;
  margin: 0 18px 34px;
  height: 130px;
  text-align: center;
  width: 144px;
}

ul.factors li img { 
  margin: 0 auto 8px;
  display: block;
  border-radius: 50%;
} 

ul.factors li img:hover { 
  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
     -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
          box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}

ul.factors li .popup {
  background: #FFF;
  position: absolute;
  border: 1px solid #CCC;
  border-radius: 4px;
  display: none;
  font-size: 15px;
  padding: 15px;
  width: 230px;
  z-index: 1;
  left: -41%;
  top: 100px;
  text-align: left;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.01);
     -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.01);
          box-shadow: 0 0 0 0 rgba(0,0,0,.01);
  -webkit-transition: .35s ease;
     -moz-transition: .35s ease;
       -o-transition: .35s ease;
          transition: .35s ease;
}

ul.factors li:hover .popup { 
  display: block; 
  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
     -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
          box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}

.popup:before, .popup:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  left: 46%;
}

.popup:before {
  border-width: 0 11.5px 13px 11.5px;
  border-bottom-color: #CCC;
  top: -14px;
}

.popup:after {
  border-width: 0 11px 12px 11px;
  border-bottom-color: #fff;
  top: -12px;
}

#ten-factors ul.factors li .popup h3 {
  font-size: 15px;
  margin: 0 0 0 0;
}

#ten-factors ul.factors li .popup p {
  font-size: 15px;
  line-height: 26px;
}

/* --- [ Take A Look ] --- */

#take-a-look h1 { margin-bottom: 19px; }

#take-a-look h2 {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 19px;
}

hr.sub-panel-faded-divider {
  background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(25%,rgba(204,204,204,1)),color-stop(74%,rgba(204,204,204,1)),color-stop(100%,rgba(255,255,255,0)));
   background:-webkit-linear-gradient(left,rgba(255,255,255,0)0%,rgba(204,204,204,1)25%,rgba(204,204,204,1)74%,rgba(255,255,255,0)100%); /* Chrome10+,Safari5.1+ */
      background:-moz-linear-gradient(left,rgba(255,255,255,0)0%,rgba(204,204,204,1)25%,rgba(204,204,204,1)75%,rgba(255,255,255,0)100%); /* FF3.6+ */
       background:linear-gradient(to right,rgba(255,255,255,0)0%,rgba(204,204,204,1)25%,rgba(204,204,204,1)74%,rgba(255,255,255,0)100%); /* W3C */
       background:-ms-linear-gradient(left,rgba(255,255,255,0)0%,rgba(204,204,204,1)25%,rgba(204,204,204,1)74%,rgba(255,255,255,0)100%); /* IE10+ */
        background:-o-linear-gradient(left,rgba(255,255,255,0)0%,rgba(204,204,204,1)25%,rgba(204,204,204,1)74%,rgba(255,255,255,0)100%); /* Opera 11.10+ */
  border: 0;
  height: 1px;
  margin: 25px 0 42px;
  width: 100%;
}

#take-a-look .block {
  display: inline-block;
  width: 100%;
}

#take-a-look h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: -5px 0 10px;
}

#take-a-look p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 23px;
  overflow: hidden;
   -webkit-transition: .35s ease;
      -moz-transition: .35s ease;
        -o-transition: .35s ease;
           transition: .35s ease;
}

#take-a-look img { 
  float: left;
  margin-right: 5%;
  border: 2px solid #CCC;
  max-width: 100%;
  margin-bottom: 23px;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.01);
     -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.01);
          box-shadow: 0 0 0 0 rgba(0,0,0,.01);
  -webkit-transition: .35s ease;
     -moz-transition: .35s ease;
       -o-transition: .35s ease;
          transition: .35s ease;
}

#take-a-look img:hover {
  border: 2px solid #007CB8;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
     -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
          box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
} 

@media (max-width: 775px) { 

  #take-a-look img { 
    display: block;
    float: none;
    margin: 0 auto 23px;
  }

  #take-a-look p { margin-bottom: 30px; }

}

/* --- [ Outcomes ] --- */

#outcomes {
  background-color: #ad1d0a;
}

#outcomes h1 {
  color: #FFF;
  margin: 17px 0 47px 0;
}

/* -- ------------- -- */
/* -- [STORY BLOCK] -- */
/* -- ------------- -- */

.story-block {  
  margin: 0 auto;
  text-align: center;
}

.story-block .block {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  display: inline-block;
  height: 260px;
  padding: 23px 20px;
  margin: 0 .96% 20px;
  text-align: left;
  vertical-align: top;
  max-width: 268px;
   -webkit-transition: .35s ease;
      -moz-transition: .35s ease;
       -ms-transition: .35s ease;
        -o-transition: .35s ease;
           transition: .35s ease;
}

.story-block .block:first-of-type { margin-left: 0; }

.story-block .block:last-of-type { margin-right: 0; } 

.story-block .block a { display: block; }

.story-block .block a img { max-width: 100%; }

.story-block .block h2 {
  font-size: 14px;
  margin: 0;
  padding: 19px 0 9px 0;
}

.story-block .block p {
  line-height: 20px;
  font-size: 14px;
}

.story-block a.call-to-action { 
  font-size: 12px; 
  font-weight: 700;
}

.story-block .icon-double-angle-right { font-size: 16px; }

@media (max-width: 500px)  { 

  .story-block .block { 
    margin: 0 0 20px 0; 
    /* width: 360px !important; */
  } 

}

/* --- [ Instructor Support ] --- */

#instructor-support h1 { }

#instructor-support ul { margin: 0 5%; }
 
#instructor-support ul li:after {
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(25%,rgba(204,204,204,1)),color-stop(74%,rgba(204,204,204,1)),color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left,rgba(255,255,255,0)0%,rgba(204,204,204,1)25%,rgba(204,204,204,1)74%,rgba(255,255,255,0)100%);
  background: -moz-linear-gradient(left,rgba(255,255,255,0)0%,rgba(204,204,204,1)25%,rgba(204,204,204,1)75%,rgba(255,255,255,0)100%);
  background: linear-gradient(to right,rgba(255,255,255,0)0%,rgba(204,204,204,1)25%,rgba(204,204,204,1)74%,rgba(255,255,255,0)100%);
  background: -ms-linear-gradient(left,rgba(255,255,255,0)0%,rgba(204,204,204,1)25%,rgba(204,204,204,1)74%,rgba(255,255,255,0)100%);
  background: -o-linear-gradient(left,rgba(255,255,255,0)0%,rgba(204,204,204,1)25%,rgba(204,204,204,1)74%,rgba(255,255,255,0)100%);
  border: 0;
  content: "";
  height: 1px;
  margin: 25px 0 42px;
  width: 100%;
}

#instructor-support ul li:last-of-type:after { content: none ; }

#instructor-support .content { overflow: hidden; }

#instructor-support h2 { 
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 10px;
}

#instructor-support p { 
  font-size: 16px;
  line-height: 24px;
}

#instructor-support .content a { font-weight: 600; }

#instructor-support .content a:after {  
  content: "\f101";
  font-size: 17px;
  padding-left: 2px;
  vertical-align: -1px;
  -webkit-transition: all .14s linear;
     -moz-transition: all .14s linear;
      -ms-transition: all .14s linear;
       -o-transition: all .14s linear;
          transition: all .14s linear;
}

#instructor-support .content a:hover:after { padding-left: 4px; }

#instructor-support .icon { 
  border: 3px solid #444;
  border-radius: 50%;
  color: #444;
  float: left;
  position: relative;
  height: 70px;
  line-height: 70px;
  margin-right: 5%;
  text-align: center;
  width: 70px;
   -webkit-transition: all .35s ease;
      -moz-transition: all .35s ease;
       -ms-transition: all .35s ease;
        -o-transition: all .35s ease;
           transition: all .35s ease;
}

#instructor-support .icon:before { 
  position: absolute;
  width: 70px;
  font-size: 50px;
  left: 0;
  top: 0;
  -webkit-transition: all .35s ease;
     -moz-transition: all .35s ease;
      -ms-transition: all .35s ease;
       -o-transition: all .35s ease;
          transition: all .35s ease;
}

#instructor-support .icon:hover {
  border-color: #0071A2;
  color: #0071A2;
}

#instructor-support .icon:hover:before {
  font-size: 55px;
  color: #0071A2;
}

.support:before { content: "\f0ad"; } 

.support:hover:before { 
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg); 
          transform: rotate(-8deg);
}

.team-up:before { content: "\f00c"; }

.team-up:hover:before { 
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg); 
          transform: rotate(-5deg);
}

.peer-to-peer:before { content: "\f0c0"; }

.peer-to-peer:hover:before { padding-top: 2px; }

.intergration:before { content: "\f021"; }

.intergration:hover:before { 
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg); 
          transform: rotate(20deg);
}

@media (max-width: 500px)  { 

  #instructor-support ul { margin: 0 auto; }

  #instructor-support .icon { 
    display: block;
    float: none;
    margin: 0 auto 20px;
  } 

  #instructor-support h2 { text-align: center; }

}

/* --- [ The Architects of CSFI ] --- */

#about-the-authors { background: #f0f0e6; }

#about-the-authors .content { padding: 0 5%; }

@media (max-width: 500px)  { 

  #about-the-authors .content { padding: 0; }

}







